
/* Dashboard CSS for Sipi Falls Admin Panel */
   body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
}

.sidebar {
  width: 200px;
 background: linear-gradient(to bottom, #99faa1,#228B22);
  color: white;
  height: 100vh;
}

.viewings .card{
  border-left: 4px solid #228B22 !important;
}


/* responsive  css */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    min-height: auto;
  }

  .main-content {
    padding: 20px;
  }
  body {
  background-color: yellow !important;
}

}
