.nav-link.text-white:hover{
    color: orange !important;
} 

.ff{
    background-image: url(images/Facebook/IMG-20250212-WA0018.jpg);
     background-size: cover; 
     background-position: center; 
     height: 70vh;
     object-fit: cover;
}
.ff ,h1{
    color: white;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
    letter-spacing: 13px;
    line-height: 1.8;
}
.navbar{
    background-color: #06c433;
}
.description{
    background-color:#06c433;
    
}
.card{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-img-top{
    height: 250px;
    object-fit: cover;
    width: 100%;
}
.card-body{
    flex-grow: 1;
    box-shadow: 3 3 10px rgba(148, 235, 114, 0.1);
    border: none;
}

.card-title{
    font-size: 1.5rem;
    
}
 .card-text{
    font-size: 1.5rem;
    padding-left: 5px;
}
.slogan{
    margin-top: 20px;
}
.back-color{
    background-color: #537682;
    padding: 100px 0;
}

.card-body{
    background-color: #06c433;
    color: white;
}
.custom-color{
    color: #2E86C1;
}
