@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.jsx';

:root {
    --primary-green: #228B22;
    --secondary-teal: #6FCF97;
    --accent-gold: #E8B923;
    --accent-coral: #FF6F61;
    --neutral-gray: #333333;
    --neutral-offwhite: #ffffff;
    --neutral-light: #F5F6F9;

    --success: #22C55E;
    --warning: #F59E0B;
    --error: #EF4444;
    --info: #3B82F6;
}

/* your keyframes etc below */